<head>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-			lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <!-- width:600px 
	 height:400px; 
	 -->
 <!-- height:410px; 
	height:350px;  -->
</head>
<div   class="flex-container">
   <!-- <div style="width:600px;height:400px ;background-repeat: space;background-position-x: center;background-size: auto;background-image: url(https://i.ibb.co/y8T9kfc/98198797-929016367559440-4361361528981553152-n.jpg);
"> -->
	   <!-- <div style="width:600px;background-position-x: center;background-size: auto;
    background-repeat: space; height:400px; background-image: url(https://i.ibb.co/y8T9kfc/98198797-929016367559440-4361361528981553152-n.jpg);
"> -->
	<div style="width:65%;height:100%;">
	<img src="https://i.ibb.co/y8T9kfc/98198797-929016367559440-4361361528981553152-n.jpg" style="max-width: 100%;
        max-height: 100%;
        display: block;">
	</div>
	<div style="background-color: white;height:50%; ">
			<div style="padding-top:40px;padding-left:90px;">
				<center><h1 style="color: #9cc1ff;">Login</h1></center>
			 </div>
	       <div>
				 <form action="/login" method="POST">
					 <center>
					<label for="user" style="padding-left:80px;"><i class="far fa-user"></i></label>
				 <input type="text" id="user" name="username" placeholder="username" style="padding:5px;text-transform: capitalize;
    -webkit-text-stroke: thin;">
		
			<br><br><br>
 			<label for="pass" style="padding-left:80px;"><i class="fas fa-unlock"></i></label>		
			<input type="password" id="pass"  name="password" placeholder="password" style="padding:5px;text-transform: capitalize;
    -webkit-text-stroke: thin;">
			<br><br>	
						 <div style="padding-left:99px;">
							<input type="submit" value="Login!" class="btn btn-white btn-animation-1" style="padding:5px 40px;text-transform: capitalize;
    -webkit-text-stroke: thin;"> 
						 </div>
			
			 
			</center>
			</form>	
		 
		</div>	      
	
		
	</div>
	
</div>


