<%- include("./partials/header") %>


<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<br>
<h1 style="text-align:center;">
	Meet the Team
</h1>
<div class="row">
  <div class="column" style="margin-bottom: 40%; margin-top: 5%;">
    <div class="card">
      <img src="https://i.ibb.co/fFKQCGQ/94629284-1534653950027209-4677993664868253696-n.jpg?fbclid=IwAR0LQ6bpbPT9Mx-M27LxYpCbsNlPzbe5SYxx3O-86wcRcDKc7tM9PUIEx3Y" alt="" style="width:100%; height: 310px;">
      <div class="container">
        <h2>Dania Zahid</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Since I run this company, I am naturally the best</p>
        <p>dania.zahid@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

 
  <div class="column" style="margin-bottom: 40%; margin-top: 5%;">
    <div class="card">
      <img src="https://i.ibb.co/3vmbJhN/53211121-156585115345373-570161645892927488-o.jpg?fbclid=IwAR1uDK9chmO9dTLl0fXzkJBl3wlJwJmneX34MJV_JcaSKt8yr2IbVy8VOQs" alt="Azfar" style="width:100%; height:310px;">
      <div class="container">
        <h2>Azfar Bakht</h2>
        <p class="title">Programmer</p>
        <p>I am stupid and i know it</p>
        <p>azfar.bakht@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer") %>