
<%- include("./partials/header") %>
<div class="container" style="display: flex;
  justify-content: center;padding-top:5%;padding-left:20%;">
  <div style="width: 800px;justify-content: center;"><img src="https://proxy-ap-south1.goorm.io//service/5e775696c081e37277fd479a_dGyFpVwvjl8HST0nVSg.run-ap-south1.goorm.io/9080//file/load/freestock_83313415.jpg?path=d29ya3NwYWNlJTJGZGFuaWElMkZZZWxwQ2FtcCUyRnYxJTJGdmlld3MlMkZmcmVlc3RvY2tfODMzMTM0MTUuanBn&docker_id=dGyFpVwvjl8HST0nVSg&secure_session_id=0920fO4UdMn5_9_1wtkEpp3gkUrX1LGR"></div>

</div>
<!-- https://lh3.googleusercontent.com/proxy/PVyzhQhJlTlJD_ABiv06OTfq7pCgOchno7Gln3ozURnYha3rAC-rX_j2vJEA4N-c1kmoCmLh6yD6HjAWRkA -->
<%- include("./partials/footer") %>